root = true                      # 告诉编辑器这是根配置文件，无需向上查找

[*]
indent_style = space             # 缩进风格，space 或 tab
indent_size = 2                  # 缩进大小，此处为 2 个空格
end_of_line = lf                 # 换行符类型，lf 是 Linux/macOS 标准，也是 Git 推荐格式
charset = utf-8                  # 文件字符集，推荐 utf-8
trim_trailing_whitespace = true  # 自动删除行尾多余的空格
insert_final_newline = false     # 文件末尾自动插入一个空行

[*.md]
max_line_length = off
trim_trailing_whitespace = false # Markdown 文件中保留行尾空格（硬换行需要）

[*.{ts,js,vue,css,scss}]
indent_size = 2
