@use './themes'; // 主题变量
@use './text-ellipsis'; // 文字溢出样式
@use './scroll'; // 通用样式
@use './transition'; // 动画样式
@use 'element-plus/dist/index.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  font-family: Roboto, sans-serif !important;
  color: var(--color-text-primary);
  background-color: var(--color-bg-window);
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

// 全局滚动条主题
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-muted);
}
